::-webkit-scrollbar {
  width: 4px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: whitesmoke;
  border-radius: 4px;
}

@keyframes tray-scroll {
  0% {
    transform: tranzincX(0);
  }

  100% {
    transform: tranzincX(-50%);
  }
}

.animate-tray-scroll {
  animation: tray-scroll 40s linear infinite;
  display: flex;
  width: max-content;
}

/* Optional: Pause on hover so people can read logos */
.animate-tray-scroll:hover {
  animation-play-state: paused;
}
.ease-expo {
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}